<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.s_martapp">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings">
        </activity>
        <activity
            android:name=".NotificationActivity"
            android:label="@string/title_activity_notification">
        </activity>
        <activity
            android:name=".BrowsedCategoryActivity"
            android:label="@string/title_activity_browsed_category" />
        <activity
            android:name=".ImagesGalleryActivity"
            android:label="@string/title_activity_images_gallery" />
        <activity android:name=".ParticularAdActivity" />
        <activity
            android:name=".SearchhomeActivity"
            android:label="@string/title_activity_searchhome" />
        <activity
            android:name=".Browse_cat"
            android:label="@string/title_activity_browse_cat" />
        <activity
            android:name=".ItemdetailsActivity"
            android:label="@string/title_activity_itemdetails" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeActivity"
            android:label="Home Activity" />
        <activity android:name=".UpdateProfile" />
        <activity android:name=".UpdatePassword" />
        <activity android:name=".ForgotPassworActivity" />
        <activity android:name=".ChangeCol" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>